.edit_layout{
    width: 560px;
    /*height: 600px;*/
    margin: 80px auto;

}

.info_box{
    background-color: #252525;
    padding: 40px 40px;
    /*height: 980px;*/
    margin-bottom: 20px;
}

.info_box h1{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding-bottom: 30px;
}

.info_table{
display: flex;
flex-direction: column;
    /*테이블 tr마다 패딩넣기*/
    border-collapse: separate;
    border-spacing: 0 20px;
}

.info_table tr{
 width: 480px;
 padding:20px 0px;
}


.info_table th{
    color: #a5a5a5;
    width: 140px;
    height: 24px;
    text-align: left;
    font-weight: 700;
}

.info_table  input{
    background-color: #2f2f2f;
    color: white;
    border:none;
    outline: none;
    font-size: 15px;
    letter-spacing: -0.9px;
    width: 300px;
    height: 46px;
    border-radius: 5px;
}

.btn_box{
    width: 480px;
    /*height: 100px;*/
    display: flex;
    padding-top: 40px;
    gap: 5px;
}

.btn_box button,input{
    width: 50%;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border:none;
    cursor:pointer;
}

.btn_box button{
    background-color: #525252;
}
.btn_box input{
    background-color: #1351f9;
}

.edit_layout #edit_leave_txt{
    color: #a5a5a5;
    font-size: 16px;
    padding:5px 15px 5px 0;
    cursor:pointer;
}
