.loginWrap {
    width: 1240px;
    margin: 80px auto;
}

.loginBox {
    width: 560px;
    margin: 0 auto;
    background: #252525;
    padding-top: 40px;
    padding-bottom: 60px;
}

.loginBox h1 {
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.loginBox h2 {
    color: #a5a5a5;
    font-size: 18px;
    text-align: center;
    margin-bottom: 28px;
}

.loginBox .inputWrap {
    padding: 0 40px;
}

.loginBox .inputWrap .inputInnerWrap {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 14px;
}

.loginBox .inputWrap .inputInnerWrap input {
    padding: 0 20px;
    border: none;
    outline: none;
    height: 53px;
    background-color: #2f2f2f;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
}

.loginBox .inputWrap .checkBoxArea {
    display: flex;
    gap: 10px;
    margin-bottom: 33px;
}

.loginBox .inputWrap .checkBoxArea label {
    color: #a5a5a5;
    font-size: 15px;
}

.loginBox .inputWrap .loginBtnArea {
    margin-bottom: 25px;
}

.loginBox .inputWrap .loginBtnArea input {
    width: 100%;
    height: 60px;
    background: #1351f9;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.loginBox .inputWrap .formBottomMenu {
    display: flex;
    /*flex 하위메뉴 중 가로중앙정렬옵션*/
    justify-content: center;
}

.loginBox .inputWrap .formBottomMenu p {
    color: #a5a5a5;
    padding: 0 14px;
    cursor: pointer;
    border-right: 1px solid #a5a5a5;
}

.loginBox .inputWrap .formBottomMenu p:last-child {
    border-right: none;
}

